.header-container {
  position: fixed;
  background-color: rgba(0, 73, 144);
  top: 0;
  z-index: 2;
  width: 100%;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, */
  /* rgba(0, 73, 144, 0.5) 5px 10px 15px; */
}

.header-container mat-toolbar {
  background-color: rgba(0, 73, 144);
}

.divider {
  width: 1px;
  background-color: white;
  height: 63px;
  margin-left: 101px;
}

.toolbar-row {
  display: flex;
  justify-content: space-between;
}

.drawer-container {
  height: 100dvh;
}

:is(.drawer, .drawer-content) {
  margin-top: 64px;
}

.drawer {
  width: 16rem !important;
}

.drawer-content {
  margin: 3rem;
  padding: 3rem;
}

/** Media queries */
@media (max-width: 599px) {
  :is(.drawer, .drawer-content) {
    margin-top: 56px;
  }
}
