<ng-container *ngIf="!isInSignInPage">
  <nav class="navbar navbar-light bg-light header-container">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        (click)="drawer.toggle()"
        type="button"
        data-bs-toggle="collapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <img
        src="assets/images/Rick_and_Morty.svg"
        alt="Rick and Morty Logo"
        class="w-25"
      />
      <div class="dropdown d-flex">
        <ng-container *ngIf="username.length">
          <span class="nav-link mt-2 mx-2">Hello, {{ username }}.</span>
        </ng-container>
        <button
          class="btn btn-light dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi bi-person"></i>
        </button>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdownMenuButton1"
        >
          <li>
            <a class="dropdown-item" routerLink="/user-profile">Profile</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/sign-in" (click)="onSignOut()"
              >Sign out</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</ng-container>

<mat-drawer-container>
  <mat-drawer #drawer mode="over" class="drawer position-fixed">
    <mat-nav-list>
      <mat-list-item>
        <a
          routerLink="/characters"
          routerLinkActive="text-muted bg-light-subtle"
          (click)="drawer.close()"
          class="d-flex position-absolute w-100 h-100 top-0 start-0 align-items-center justify-content-center text-decoration-none link-dark sidebar-content"
          >Characters
        </a>
      </mat-list-item>
      <mat-list-item>
        <a
          routerLink="/locations"
          routerLinkActive="text-muted bg-light-subtle"
          (click)="drawer.close()"
          class="d-flex position-absolute w-100 h-100 top-0 start-0 align-items-center justify-content-center text-decoration-none link-dark sidebar-content"
          >Locations
        </a>
      </mat-list-item>
      <mat-list-item>
        <a
          routerLink="/episodes"
          routerLinkActive="text-muted bg-light-subtle"
          (click)="drawer.close()"
          class="d-flex position-absolute w-100 h-100 top-0 start-0 align-items-center justify-content-center text-decoration-none link-dark sidebar-content"
          >Episodes
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
