<ng-container *ngIf="isUserAuthenticated()">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        (click)="drawer.toggle()"
        type="button"
        data-bs-toggle="collapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class="navbar-brand navbar-brand-center">Rick and Morty</span>
      <div class="dropdown d-flex">
        <ng-container *ngIf="username.length">
          <span class="nav-link mt-2 mx-2">Hello, {{ username }}.</span>
        </ng-container>
        <button
          class="btn btn-light dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi bi-person"></i>
        </button>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdownMenuButton1"
        >
          <li>
            <a class="dropdown-item" routerLink="/user-profile">Profile</a>
          </li>
          <li><a class="dropdown-item" routerLink="/sign-in">Sign out</a></li>
        </ul>
      </div>
    </div>
  </nav>
</ng-container>
<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="side" class="drawer">
    <mat-nav-list>
      <mat-list-item>
        <span><a [routerLink]="['/characters']">Characters</a></span>
      </mat-list-item>
      <mat-list-item>
        <span><a [routerLink]="['/locations']">Locations</a></span>
      </mat-list-item>
      <mat-list-item>
        <span><a [routerLink]="['/episodes']">Episodes</a></span>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
