.field-container {
  margin-top: 28px;
}

.field-container .form-control {
  cursor: default;
}

.field-container .form-select {
  cursor: pointer;
}

.field-container :is(a, button) {
  margin-top: 20px;
}

.remaining-height {
  height: 16rem;
}
