<div>
  <img
    src="https://i.etsystatic.com/42004376/r/il/c91cdd/4788602928/il_570xN.4788602928_kr57.jpg"
    alt="Image of a cool user"
    class="user-image rounded-circle"
    loading="lazy"
  />
</div>

<div class="row">
  <div class="col-lg-4 field-container">
    <label>Name</label
    ><input
      class="form-control"
      type="text"
      [placeholder]="username + ', the cool one'"
      readonly
    />
  </div>
  <div class="col-lg-4 field-container">
    <label>Feats</label
    ><input
      class="form-control"
      type="text"
      placeholder="Helped starving children, donated to charity..."
      readonly
    />
  </div>
  <div class="col-lg-4 field-container">
    <label>Species</label
    ><input
      class="form-control"
      type="text"
      placeholder="Probably human"
      readonly
    />
  </div>
</div>
<div class="row">
  <div class="col-lg-4 field-container">
    <label>Origin</label
    ><input
      class="form-control"
      type="text"
      placeholder="Somewhere in the universe"
      readonly
    />
  </div>
  <div class="col-lg-4 field-container">
    <label>Episodes</label>
    <input
      class="form-control"
      type="text"
      placeholder="Earth S01E01 - Today"
      readonly
    />
  </div>
</div>
